<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/add.css">
    </head>
    <body>
        <div class="content-wrapper">
            <nav>
                <ul>
                    <li><a href="/">Записи</a></li>
                    <li><a href="/add">Добавить запись</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </nav>
            <main>
                <form class="form" action="add" method="POST">
                    <div class="form__item">
                        <label>Название</label>
                        <input class="form__field" type="text" name="title" required>
                    </div>
                    <div class="form__item">
                        <label>Превью</label>
                        <input class="form__field" type="text" name="preview" required>
                    </div>
                    <div class="form__item">
                        <label>Текст</label>
                        <input class="form__field" type="text" name="text" required>
                    </div>
                    <input class="button" type="submit" value="Сохранить"> <input class="button" type="reset" value="Очистить">
                </form>
            </main>
        </div>
    </body>
</html>