<!DOCTYPE html>
<html>
    <head>
        <title>Lab 2</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <div class="content-wrapper">
            <main>
                <h2>Авторизация</h2>
                <form class="form" action="login" method="POST">
                    <div class="form__item">
                        <label>Логин</label>
                        <input class="form__field" type="text" name="username" required>
                    </div>
                    <div class="form__item">
                        <label>Пароль</label>
                        <input class="form__field" type="password" name="password" required>
                    </div>
                    <input class="button" type="submit" value="Войти">
                </form>
            </main>
        </div>
    </body>
</html>